## 1. Write a Python program to find sum of elements in list?

In [2]:
Data_list=[6,4,3,2,45,3,1,43,34]
sum=0
for i in Data_list:
    sum+=i
print("Sum of elements in list is ",sum)

Sum of elements in list is  141

## 2. Write a Python program to Multiply all numbers in the list?

In [4]:
mul=1
for i in Data_list:
    mul = mul * i
print("Sum of elements in list is ",mul)

Sum of elements in list is  28421280

## 3. Write a Python program to find smallest number in a list?

In [6]:
small=Data_list[0]
for i in Data_list:
    if(i<small):
        small=i
print("smallest number in a list is ",small)

smallest number in a list is  1

## 4. Write a Python program to find largest number in a list?

In [7]:
max=Data_list[0]
for i in Data_list:
    if(i>max):
        max=i
print("largest number in a list is ",max)

largest number in a list is  45

## 5. Write a Python program to find second largest number in a list?

In [8]:
max=Data_list[0]
second_max=Data_list[0]
for i in Data_list:
    if(i>max):
        max=i
for i in Data_list:
    if(i>second_max)and(i!=max):
        second_max=i
print("second largest number in a list is ",second_max)

second largest number in a list is  43

## 6. Write a Python program to find N largest elements from a list?

In [9]:
n = int(input("Enter the value of N: "))
Data_list.sort()
print(Data_list[-n:])

Enter the value of N: 5
[4, 6, 34, 43, 45]

## 7. Write a Python program to print even numbers in a list?

In [10]:
for i in Data_list:
    if(i%2==0):
        print(i)

2
4
6
34

## 8. Write a Python program to print odd numbers in a List?

In [11]:
for i in Data_list:
    if(i%2!=0):
        print(i)

1
3
3
43
45

## 9. Write a Python program to Remove empty List from List?

In [12]:
list=[67,[],76,32,[]]
list_1=[]
for i in list:
    if(i):
        list_1.append(i)
print(list_1)

[67, 76, 32]

## 10. Write a Python program to Cloning or Copying a list?

In [13]:
l=[87, 7, 56, 98, 1, 2, 45]
l1=l.copy()
print("Original list: ",l)
print("List after copy:",l1)

Original list:  [87, 7, 56, 98, 1, 2, 45]
List after copy: [87, 7, 56, 98, 1, 2, 45]

## 11. Write a Python program to Count occurrences of an element in a list?

In [15]:
data=[5,34,23,44,2,3,3,2,5,65]
count=0
a=3
for i in data:
    if(i==a):
        count+=1
print(f"{a} occurred {count} times")

3 occurred 2 times